server {
    listen 80;
    server_name _;

    root "/home/box/web/public";

    access_log "/home/box/web/logs/stepic.nginx.access.log" combined;
    error_log  "/home/box/web/logs/stepic.nginx.error.log" notice;

    sendfile off;

    location /uploads/ {
        root "/home/box/web/uploads";
    }

    location / {
        return 404;
    }

    location ~* \..+$ {
        root "/home/box/web/public";
    }

    location ~* \.(css|js|jpeg|jpg|gif|png|ico)$ {
        expires 30d;
        access_log off;
    }
}