server {
    listen 80;
    server_name _;
    return 301 https://{{server.domain}}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{server.domain}} www.{{server.domain}};

    ssl_certificate /etc/ssl/{{server.domain}}/{{server.domain}}.pem;
    ssl_certificate_key /etc/ssl/{{server.domain}}/{{server.domain}}.key;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options SAMEORIGIN;
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

    root "/home/box/web/public";

    access_log "/home/box/logs/stepic.nginx.access.log" combined;
    error_log  "/home/box/logs/stepic.nginx.error.log" notice;

    sendfile off;

    location /uploads/ {
        root "/home/box/web/uploads";
    }

    location / {
        return 404;
    }

    location ~* \..+$ {
        root "/home/box/web/public";
    }

    location ~* \.(css|js|jpeg|jpg|gif|png|ico)$ {
        expires 30d;
        access_log off;
    }
}